<li>@Html.ActionLink("Odbiór paczki od klienta", "Tracking", "Delivery")</li>
<li>@Html.ActionLink("Zdanie na magazyn", "Tracking", "Delivery")</li>
<li>@Html.ActionLink("Odbiór z magazynu", "Tracking", "Delivery")</li>
<li>@Html.ActionLink("Doręczenie do klienta", "Tracking", "Delivery")</li>