<li>@Html.ActionLink("Wyświetl wszystkie odbiory", "GetReceipts", "Courier")</li>
<li>@Html.ActionLink("Odbierz od klienta", "Receipt", "Courier")</li>
<li>@Html.ActionLink("Zdaj na magazyn", "PassToWarehouse", "Courier")</li>
<li>@Html.ActionLink("Pobierz z magazynu", "PickFromWarehouse", "Courier")</li>