@using LogisticSolutions.Helpers
@using LogisticSolutions.Models

@model ICollection<TrackingHistoryPointViewModel>

<ul>
    @foreach (var historyPoint in Model)
    {
        <li>@historyPoint.DateTime | @historyPoint.Location | @historyPoint.Status.GetDisplayName() | @historyPoint.Author</li>
    }  
</ul>