@using LogisticSolutions.Models

@{
    ViewBag.Title = "Śledzenie przesyłki";
}

<h2>Śledzenie przesyłki</h2>

<table>
    @foreach (Delivery delivery in Model)
    {
        <tr>
            <th>Data, godzina:</th>
            <th>Miasto odbioru:</th>
            <th>Miasto doręczenia:</th>
        </tr>
        <tr>
            <td>@delivery.TrackingHistory.Where(t => t.Status == TrackingStatus.RegistredInSystem).FirstOrDefault().DateTime</td>
            <td>@delivery.PickupAddress.City</td>
            <td>@delivery.DestinationAddress.City</td>
            <td>@Html.ActionLink("Więcej informacji...", "TrackingDetails", new {Controller ="Delivery", id = delivery.Number })</td>
        </tr>
    }
</table>