@using LogisticSolutions.Models

@{
    ViewBag.Title = "Śledzenie przesyłki";
}

<h2>Śledzenie przesyłki</h2>

<table>
    @foreach (TrackingStatus trackingStatus in Model)
    {
        <tr>
            <td>@trackingStatus.DateTime</td>
            <td>@trackingStatus.Status</td>
            <td>@trackingStatus.Author</td>
            <td>@trackingStatus.Location</td>
        </tr>
    }
</table>