@{
    ViewBag.Title = "Home Page";
}


<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Logistics Solutions</h1>
                    <p class="intro-text">Twoja lokalizacja: @ViewBag.UserLocation</p>
                    <div class="button_sliding_bg">Załóż konto</div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container body-content">
    <div class="row tables">
        <div class="col-md-4">
            <div class="box first">
                <h2>Co z moją przesyłką?</h2>
                <p>
                    W momencie nadania paczki przez nadawcę, otrzymasz specjalny komunikat mailowy.
                    Co więcej – w chwili dostarczenia przesyłki do Twojego Paczkomatu otrzymasz od nas powiadomienie.
                </p>
            </div>
            <div class="button_sliding_bg">Sprawdź status</div>
        </div>

        <div class="col-md-4">
            <div class="box second">
                <h2>Chcę wysłać paczkę</h2>
                <p>
                    Podejdź do Paczkomatu i podaj na ekranie swój numer telefonu oraz kod odbioru. Po chwili otworzy się skrytka z Twoją paczką.
                    Po chwili otworzy się skrytka z Twoją paczką.
                </p>
            </div>
            <div class="button_sliding_bg">Nadaj przesyłkę</div>
        </div>
        <div class="col-md-4">
            <div class="box third">
                <h2>Zostań klientem</h2>
                <p>
                    W momencie nadania paczki przez nadawcę, otrzymasz specjalny komunikat mailowy.
                    Co więcej – w chwili dostarczenia przesyłki do Twojego Paczkomatu otrzymasz od nas powiadomienie.
                </p>
            </div>
            <div class="button_sliding_bg">Załóż konto</div>
        </div>
    </div>
</div>

