@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Logistics Solutions</h1>
    <p class="lead">Twoja lokalizacja: @ViewBag.UserLocation</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Co z moją przesyłką?</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Sprawdź status przesyłki &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chcę wysłać paczkę!</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Zleć odbiór przesyłki &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chcę zostać klientem!</h2>
        <p>Tylko jeden klik dzieli Cię od zostania naszym klientem. Skorzystaj z poniższego przycisku, wypełnij formularz rejestracyjny
        i sprawdź jaką ofertę przygotowaliśmy dla Ciebie!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Załóż konto klienta &raquo;</a></p>
    </div>
</div>